.DS_Store

# 'Helper' LaTeX files to ignore
*.aux
*.fdb_latexmk
*.nav
*.out
*.snm
*.gz
*.toc
*.pdfsync
*.blg
*.bbl
*.log
*.fls
*.synctex.gz
*.synctex

# Python related files to ignore
*.pyc
*.ipynb_checkpoints
